@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="~/css/home.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="primaryContainer container-fluid">
        <section id="discover">
            <div class="container">
                <div class="content1 row">
                    <div class="slide1 col-md-7 d-flex flex-column justify-content-center">
                        <section>
                            <h1>
                                Discover Recipe <br />& Delicious Food
                            </h1>
                        </section>
                        <div class="search-container">
                            <input type="text" class="search rounded-3 border-0" placeholder="Search Recipe, Food, Ingredient" />
                            <button class="search-button border-0">Search</button>
                        </div>
                    </div>
                    <div class="slide2 col-md-5">
                        <img src="~/images/recipe pic 1.png" alt="discover" width="500" />
                    </div>
                </div>
            </div>
        </section>

        <section id="popular">
            <div class="container">
                <div class="row">
                    <div class="pageTitle col d-flex align-items-center mb-5 ms-0">
                        <div class="block"></div>
                        <h2 class="text-start">Popular For You !</h2>
                    </div>
                </div>
                <div class="row">
                    <!-- Popular section content here -->
                    <div class="slide1">
                        <!-- Dot content -->
                    </div>
                    <div class="image2 col-md-5">
                        <img src="~/images/recipe pic 2.png" alt="Popular For You !" width="500" />
                    </div>
                    <div class="slide2 col-md-6 d-flex align-items-center ms-5">
                        <div class="wrapper">
                            <h2>
                                Healthy Bites:
                                <br />
                                Nourishing Sandwich Creations
                            </h2>
                            <hr />
                            <h5 style="font-family: Arial, sans-serif;">
                                “Quick + Easy Veggie Delight Sandwich -
                                <br />
                                Elevate Your Lunch in Minutes!“
                            </h5>
                            <button class="learnMore mt-2 border-0 rounded-2">
                                Learn More
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="new-recipe">
            <div class="container">
                <div class="content3 row mb-5">
                    <div class="pageTitle col d-flex align-items-center ms-0">
                        <div class="block"></div>
                        <h2 class="text-lg-start">New Recipe</h2>
                    </div>
                </div>
                <div class="row">

                    <!-- New recipe section content here -->
                    <div class="slide1">
                        <!-- Dot content -->
                    </div>
                    <div class="image2 col-md-5">
                        <img src="~/images/recipe pic 3.png" alt="New Recipe" width="500" />
                    </div>
                    <div class="slide2 col-md-6 d-flex align-items-center ms-5">
                        <div class="wrapper">
                            <h2>
                                Fresh &amp; Crunchy
                                <br />
                                Salad Bliss (Healthy &amp; Easy)
                            </h2>
                            <hr />
                            <h5 style="font-family: Arial, sans-serif;">
                                Wholesome Salad Plate to
                                <br />
                                Brighten Your Mealtime!
                            </h5>
                            <button class="learnMore mt-2 border-0 rounded-2">
                                Learn More
                            </button>
                        </div>
                    </div>
                    @* <div class="slide1 col-5">
                        <!-- Left side content -->
                    </div>
                    <div class="slide2 col-6 d-flex align-items-center ms-5">
                        <div class="image2 col-md-5">
                            <img src="~/images/recipe pic 3.png" alt="New Recipe" />
                        </div>
                        <div class="wrapper">
                            <h2>
                                Fresh &amp; Crunchy
                                <br />
                                Salad Bliss (Healthy &amp; Easy)
                            </h2>
                            <hr />
                            <h5 style="font-family: Arial, sans-serif;">
                                <q style="font-family: Arial, sans-serif;">
                                    Wholesome Salad Plate to
                                    <br />
                                    Brighten Your Mealtime!
                                </q>
                            </h5>
                            <button class="learnMore mt-2 border-0 rounded-2">
                                Learn More
                            </button>
                        </div>
                    </div> *@
                </div>
            </div>
        </section>

        <section id="top">
            <div class="container">
                <div class="row">
                    <div class="pageTitle col d-flex align-items-center ms-0">
                        <div class="block"></div>
                        <h2 class="text-lg-start">
                            Check Out Other Recipes Of Your Favourite Category !
                        </h2>
                    </div>
                </div>
                <div class="content-top row">
                    <!-- Top section content here -->
                    <div class="col-3 mt-5 d-flex justify-content-center">
                        <div class="recipe1 rounded-3">
                            <img src="~/images/recipe pic 4.png" alt="Salad" width="200" />
                            <div class="salad"> Salads </div>
                        </div>
                    </div>
                    <div class="col-3 mt-5 d-flex justify-content-center">
                        <div class="recipe2 rounded-3">
                            <img src="~/images/recipe pic 5.png" alt="Appetizer" width="200" />
                            <div class="appetizer"> Appetizer </div>
                        </div>
                    </div>
                    <div class="col-3 mt-5 d-flex justify-content-center">
                        <div class="recipe3 rounded-3">
                            <img src="~/images/recipe pic 6.png" alt="Main Course" width="200" />
                            <div class="maincourse"> Main Course </div>
                        </div>
                    </div>
                    <div class="col-3 mt-5 d-flex justify-content-center">
                        <div class="recipe4 rounded-3">
                            <img src="~/images/recipe pic 7.png" alt="Dessert" width="200" />
                            <div class="dessert"> Dessert </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="top">
            <div class="container">
                <div class="row">
                    <div class="pageTitle col d-flex align-items-center ms-0">
                        <div class="block"></div>
                        <h2 class="text-lg-start">Check Out By Region !</h2>
                    </div>
                </div>
                <div class="content-top row">
                    <!-- Second Top section content here -->
                    <div class="col-3 mt-5 d-flex justify-content-center">
                        <div class="recipe1 rounded-3">
                            <img src="~/images/recipe pic 8.png" alt="Salad" width="200" />
                            <div class="gujarati"> Gujarati </div>
                        </div>
                    </div>
                    <div class="col-3 mt-5 d-flex justify-content-center">
                        <div class="recipe2 rounded-3">
                            <img src="~/images/recipe pic 9.png" alt="Appetizer" width="200" />
                            <div class="punjabi"> Punjabi </div>
                        </div>
                    </div>
                    <div class="col-3 mt-5 d-flex justify-content-center">
                        <div class="recipe3 rounded-3">
                            <img src="~/images/recipe pic 10.png" alt="Main Course" width="200" />
                            <div class="southindian"> South Indian </div>
                        </div>
                    </div>
                    <div class="col-3 mt-5 d-flex justify-content-center">
                        <div class="recipe4 rounded-3">
                            <img src="~/images/recipe pic 11.png" alt="Dessert" width="200" />
                            <div class="chinese"> Chinese </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
