<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Menu</title>
    <link href="~/css/detailmenu.css" rel="stylesheet" />
    <link rel="stylesheet" href="path/to/your/css/detailMenu.css">
</head>
<body>
    <main>
        <section class="container">
            <div class="postHeader">
                <!-- Left -->
                <div class="d-flex align-items-center">
                    <div class="block mt-1 ms-2 me-3"></div>
                    <img src="~/images/loggedin_user.png" alt="User Photo" class="mt-1 me-2" />
                    <div class="comment-user p-1">
                        <div class="nameAcc">
                            <p class="mb-0">User</p>
                        </div>
                        <div class="AccRecipe">
                            <p class="font-weight-bold mb-0">10 Recipes</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Thumbnail -->
            <div class="thumbnail d-flex justify-content-center mt-2">
                <img src="~/images/pasta.jpg" width="250" height="250" />
            </div>

            <!-- Ingredients -->
            <div class="ingredients mt-3">
                <h3>Pasta</h3>
                <ul>
                    <li>- Pasta</li>
                    <li>- Shoya Souse</li>
                    <li>- Tomato Souse</li>
                    <li>- Onion</li>
                    <li>- Tomato</li>
                </ul>
            </div>

            <!-- Bar -->
            <hr class="bar mt-5 mb-5">

        </section>
    </main>

    <footer>
        <!-- Footer content -->
        <p>&copy; 2024 Taste Treasure. All rights reserved.</p>
    </footer>


</body>
</html>
